// desktop
header {
  // for debug
  // background-color: pink;
}

.top-banner {
  $top-banner-height: 451px;
  height: $top-banner-height;
  .container {
    .bg-shape {
      height: $top-banner-height;
    }

    .top-text-content {
      right: 146px;
      h1 {
        margin-top: 13px;
        font-size: 20px;
      }
      h2 {
        padding-top: 4px;
        letter-spacing: 4.5px;
      }
    }
  }
}

.hissu {
  // color
  color: white;
  background-color: black;
  // margin padding
  padding: 0 10px;
  // font
  font-size: 16px;
}

// ラジオボタン、チェックボックスのデザイン
.design-box {
  margin: 2px 45px;
  display: inline-block;
  line-height: 30px;
}

.design-box:before {
  content: "";
  display: inline-block;
  // size
  width: 30px;
  height: 30px;
  // border
  border-radius: 50%;
  border: 1px solid black;
  // margin padding
  margin-right: 10px;
  // position
  position: absolute;
  top: 0;
  left: 0;
}

.design-box:after {
  content: "";
  // display
  display: none;
  // display: inline-block;
  // size
  width: 18px;
  height: 18px;
  // border
  border-radius: 50%;
  border: 1px solid black;
  background-color:black;
  // position
  position: absolute;
  top: 6px;
  left:6px;
}

.contact-content {
  margin: 120px 0;
  .contact-container {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;

    > p {
      // elem size
      line-height: 32px;
      // margin padding
      margin-bottom: 52px;
      // font
      font-size: 16px;
      font-family: "Noto Sans JP";
    }

    // ラジオボタン
    .contact-select {
      .hissu {
        // margin padding
        margin-left: 20px;
      }

      .selecter {
        // font
        font-size: 16px;
        // margin padding
        margin-top: 20px;

        .select-elem {
          display: inline-block;
          position: relative;
          input[type="radio"] {
            display: none;
          }


          input[type=radio]:checked + label:after {
            display: inline-block;
          }
        }

      }
    }

    // 複数分入力箇所
    .input-elem {
      margin-top: 52px;
      input[type=text] {
        //size 
        width: 100%;
        height: 41px;
        // margin padding
        margin-top: 10px;
        padding: 4px 10px;
        // font
        font-size: 16px;
        font-family: "Noto Sans JP";
      }

      .hissu-name {
        margin-left: 50px;
      }

      .hissu-addr {
        margin-left: 50px;
      }

      textarea {
        resize: none;
        overflow: auto;
        // margin padding
        margin-top: 10px;
        padding: 4px 10px;
        // size
        width: 100%;
        height: 210px;
        // font
        font-size: 16px;
        font-family: "Noto Sans JP";
      }

      h1 {
        font-size: 16px;
        letter-spacing: 0px;
      }

    }
    // チェックボックス
    .check {
      // margin padding
      margin: 42px 0;
      text-align: center;
      // position
      position: relative;
      input[type=checkbox] {
        display: none;
      }

      $design-box-pos: 100px;
      .design-box:before {
        border-radius: 0;
        left: $design-box-pos;
      }

      .design-box:after {
        border-radius: 0;
        left: $design-box-pos + 6px;
      }

      input[type=checkbox]:checked + label:after {
        display: inline-block;
      }
    }

    .more-btn {
      display: block;
      // margin padding
      padding: 12px 50px;
      margin: 0 auto;
      // size
      width: 22%;
    }
  }
}

// tablet
@media screen and (max-width: 1020px) and (min-width: 768px) {
}

// smart phone
@media screen and (max-width: 767px) {
}