// desktop

$box-color: #A3B1C6;
$box-color-light: #FFFFFF;

* {
  box-sizing: border-box;
}

body {
  color: #777777;
  background-color: #E0E5EC;
}

input {
  height: 25px;
  border: none;
  outline: none;
  background-color: #F2F2F2;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

header {
  .container {
    position: relative;
    .readme {
      position: absolute;
      top: 60px;
      right: 0;
      color: gray;
      border-bottom: 1px solid gray;
    }

    .calculator {
      position: absolute;
      top: 85px;
      right: 0;
      color: gray;
      border-bottom: 1px solid gray;
    }

    // background-color: gray;
    text-align: center;

    a {
      text-decoration: none;
    }

    h1 {
      $width-size: 350px;
      $height-size: 45px;
      $border-radius-rt: 5%;
      $boke-rt: 10px;

      text-align: center;
      // color:#777777;
      color:#E0E5EC;
      text-shadow: -2px -2px 2px rgb(170, 170, 170);
      padding: 10px 0;
      margin-bottom: 30px;
      font-size: 32px;

      display: inline-block;
      width: $width-size;
      height: $height-size;
      border-radius: $border-radius-rt;
      box-shadow: 2px 2px $boke-rt $box-color;

      position: relative;

      &:before {
        content:"";
        display: inline-block;
        width:  $width-size;
        height: $height-size;
        // background-color: white;
        border-radius: $border-radius-rt;
        box-shadow: -2px -2px $boke-rt $box-color-light;

        position: absolute;
        right: 0;
        bottom: 0;
      }

      &:hover {
        box-shadow: -2px -2px $boke-rt $box-color-light inset;

        &:before {
          box-shadow: 2px 2px $boke-rt $box-color inset;
        }
      }
    }
  }
}

.item-wrapper {
  display: flex;
  margin-bottom: 20px;

  .item-name {
    width: 30%;
    font-size: 32px;
    font-weight: bold;
    text-align: right;
    margin-top: 10px;

    h1 {
      $width-size: 100px;
      $height-size: 50px;
      $border-radius-rt: 12%;
      $boke-rt: 10px;
      
      display: inline-block;
      width:  $width-size;
      height: $height-size;
      border-radius: $border-radius-rt;
      // background-color: white;
      box-shadow: 2px 2px $boke-rt $box-color;
      text-align: center;
      line-height: $height-size;
      font-size: 26px;

      position: relative;

      &:before {
        content:"";
        display: inline-block;
        width:  $width-size;
        height: $height-size;
        // background-color: white;
        border-radius: $border-radius-rt;
        box-shadow: -2px -2px $boke-rt $box-color-light;

        position: absolute;
        right: 0;
        bottom: 0;
      }

      &:hover {
        box-shadow: -2px -2px $boke-rt $box-color-light inset;

        &:before {
          box-shadow: 2px 2px $boke-rt $box-color inset;
        }
      }
    }
  }

  .items {
    margin-left: 100px;
    width: 60%;

    .item {
      p {
        font-weight: bold;
        margin: 10px 0;
      }
    }
  }
}

.sale-wrapper {
  input {
    margin: 10px 0;
    margin-right: 5px;
  }

  a {
    display: block;
    margin-top: 10px;
  }
}

.result-wrapper {
  .container {
    .item-wrapper {
      .item {
        display: flex;
      }
      .elem-name {
        width: 100px;
      }
      .res-text {
        font-weight: normal;
      }
    }
  }
}

.calc {
  text-align: center;

  input {
    height: 40px;
    width: 100px;
    box-shadow: 2px 2px 5px 0px gray;
    font-weight: bold;
    color: #444;

    &:active {
      box-shadow: none;
    }
  }
}

footer {
  padding-top: 30px;
  .container {
    p {
      text-align: center;
      color: gray;
    }
  }
}

.haiso-item, .readme-item {
  padding: 20px 30px;
}

.hissu {
  color: red;
  font-size: 12px;
}

.calc-wrapper {
  .container {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
  }
  #calc-res {
    width: 270px;
  }
  .num-button {
    width: 50px;
    height: 50px;
    margin-top: 5px;
  }
}

// tablet
@media screen and (max-width: 1020px) and (min-width: 768px) {
}

// smart phone
@media screen and (max-width: 767px) {
  .item-wrapper {
    flex-direction: column;

    .item-name {
      width: 100%;
      text-align: center;
      margin-bottom: 20px;
    }
  }
}
